@import "_variables.scss";

.btn-primary {
    background-color: $primary-background-color;
    border-color: $primary-background-color;
    color: $primary-background-color-text;

    &:hover {
        background-color: $secondary-background-color;
        border-color: $secondary-background-color;
    }
}

.validation-summary-errors > ul {
    margin-bottom: 0;
}