@import "_variables.scss";

.btn-primary {
    background-color: $primary-background-color;
    border-color: $primary-background-color;
    color: $primary-background-color-text;

    &:hover {
        background-color: $secondary-background-color;
        border-color: $secondary-background-color;
    }

    &:focus {
        background-color: $secondary-background-color;
        border-color: $secondary-background-color;
        box-shadow: 0 0 0 0.25rem rgb(55 200 200 / 50%);
    }
}

.validation-summary-errors > ul {
    margin-bottom: 0;
}