@import "_variables.scss";

.btn-primary {
    background-color: $primary-background-color;
    border-color: $primary-background-color;
    color: $primary-background-color-text;

    &:hover, &:focus, &:disabled {
        background-color: $secondary-background-color;
        border-color: $secondary-background-color;
        color: $primary-background-color-text;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgb(55 200 200 / 50%);
    }
}

.spinner-border {
    color: $primary-background-color;
}

.validation-summary-errors {
    word-wrap: break-word;

    > ul {
        margin-bottom: 0;
    }
}

.carousel {
    max-height: $carousel-height;
    min-height: $carousel-min-height;

    & img {
        max-height: $carousel-height;
        min-height: $carousel-min-height;
        object-fit: cover;
    }
}