/* Site.scss file for imports only */
/* Core imports */
html {
  font-size: calc(16px + 0.390625vw);
}

/* Shared HTML components */
.btn-primary {
  background-color: #008080;
  border-color: #008080;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #00B3B3;
  border-color: #00B3B3;
}

/* Primary imports */
html {
  position: relative;
  min-height: 100%;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer, header > nav {
  background-color: #008080;
  color: #FFFFFF;
}
footer a, header > nav a {
  color: inherit;
  cursor: pointer;
}
footer a:hover, header > nav a:hover {
  color: inherit;
}
