/* Site.scss file for imports only */
/* Core imports */
html {
  font-size: calc(16px + 0.390625vw);
}

/* Bootstrap Overrides */
.btn-primary {
  background-color: #008080;
  border-color: #008080;
  color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:disabled {
  background-color: #00B3B3;
  border-color: #00B3B3;
  color: #FFFFFF;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(55, 200, 200, 0.5);
}

.spinner-border {
  color: #008080;
}

.validation-summary-errors {
  word-wrap: break-word;
}
.validation-summary-errors > ul {
  margin-bottom: 0;
}

.carousel {
  max-height: 35vh;
  min-height: 300px;
}
.carousel img {
  max-height: 35vh;
  min-height: 300px;
  object-fit: cover;
}

/* Primary imports */
html {
  position: relative;
  min-height: 100%;
}

header,
footer {
  flex-shrink: 0;
}

main {
  position: relative;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer, header > nav {
  background-color: #008080;
  color: #FFFFFF;
}
footer a, header > nav a {
  color: inherit;
  cursor: pointer;
}
footer a:hover, header > nav a:hover {
  color: inherit;
}
